@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #fff;
    --secondary-color: #000;
    --tertiary-color: rgb(76, 72, 72);
    --unique-color: #a9a2a2;
    --font-family: 'Poppins', sans-serif;
}

.dark-mode{
    --primary-color: #000;
    --secondary-color: #fff;
    --tertiary-color: rgb(76, 72, 72);
    --unique-color: #a9a2a2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-weight: 600;
    font-style: normal;

}

body{
    background-color: var(--primary-color);
}

.opt{
    position: absolute;
    top: 2%;
    left: 88%;
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
}

.opt select{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 25px;
    border: 1px solid var(--secondary-color);
    width: 150px;
    height: 50px; 
    cursor: pointer;
    padding-left: 35px;

}

.opt select::after{
    background-color: var(--primary-color);
}

.opt select:hover{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    transition: 0.3s;
}

.opt select option{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.opt #switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--unique-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

#switch img{
    fill: var(--primary-color);
}

#switch img:last-child{
    display: none;
}

.dark-mode #switch img:first-child{
    display: none;
}

.dark-mode #switch img:last-child{
    display: block;
}

.box{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 12px 6px 15px 9px rgba(0, 0, 0, 0.15);
}

.box h1{
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}

.box h1::after{
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: var(--primary-color);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.box p{
    font-size: 26px;
    min-height: 110px;
}

.box p::before, .box p::after{
    content: '"';
}

.box div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.box span{
    display: block;
    margin: 10px;
    float: right;
    position: relative;
}

.box span::before{
    content: '';
    width: 20px;
    height: 2px;
    background: var(--primary-color);
    position: absolute;
    top: 50%;
    left: -30px;
}

.box button{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 25px;
    border: 1px solid var(--secondary-color);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}

.box button:hover{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    transition: 0.3s;
}