*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.box{
    background-color: black;
    color: white;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 12px 6px 15px 9px rgba(0, 0, 0, 0.15);
}

.box h1{
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}

.box h1::after{
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: white;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}